.cart-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.cart-menu.active {
  visibility: visible;
  opacity: 1;
}

.cart-menu .wrap {
  position: relative;
  max-width: calc(100% - 40px);
  width: 360px;
  height: 100%;
  background-color: var(--white-color);
  pointer-events: auto;
  transform: translateX(var(--transX, -100%));
  transition: var(--transition-transform);
}

.cart-menu.active .wrap {
  transform: translateX(0);
}

.cart-menu .close-trigger {
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  height: 40px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-menu .cart-list {
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.cart-menu .wrap {
  float: right;
  --transX: 100%;
}

.cart-menu .close-trigger {
  right: auto;
  left: -40px;
}

.cart-menu .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cart-menu .cart-header {
  padding: 30px 0;
}

.product-list .thumbnail {
  width: 70px;
  margin-right: 20px;
}

.product-list li {
  margin-bottom: 30px;
}

.product-list .grouping {
  position: relative;
  float: left;
  padding-left: 45px;
}

.product-list .quantity {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 30px;
}

.product-list .quantity .control {
  background-color: var(--flashwhite-color);
  border-radius: 5px;
}

.product-list .quantity .control > * {
  height: 30px;
  border: 0;
  outline: 0;
  text-align: center;
  background-color: transparent;
}

.product-list .quantity button {
  font-size: 20px;
  line-height: initial;
  width: 100%;
  cursor: pointer;
}

.product-list .variants {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
 }

 .product-list .variants h4 {
  line-height: initial;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .product-list .variants > div {
  font-size: var(--fs14);
  line-height: 1.4;
 }

 .product-list .variants .item-remove {
  position: absolute;
  right: 0;
  bottom: 0;
 }

 .product-list .item-remove {
  color: var(--red-color);
  background-color: #ff47571a;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition-color),
              var(--transition-background);

 }

 .product-list .item-remove:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
 }

 .cart-menu .cart-footer {
  margin: 0 -20px;
  padding: 20px;
  background-color: var(--flashwhite-color);
  margin-top: auto;
 }

 .cart-menu .cart-outer > .wrapper {
  height: 100vh;
  padding: 0;
 }

 .cart-footer form  {
  position: relative;
  margin-bottom: 20px;
 }

 .cart-footer form .input {
  line-height: 34px;
  border: 0;
  border-radius: 7px;
  background-color: var(--white-color);
 }

 .cart-footer form .submit {
  position: absolute;
  top: 	10px;
  right: 10px;
  max-width: 90px;
  height: 34px;
  line-height: 1;
  background-color: var(--grey-color);
  color: var(--white-color);
  padding: 0;
  border-radius: 7px;
  cursor: pointer;
  transition: var(--transition-background);
 }

 .cart-footer form .submit:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
 }

 .cart-footer .math-pricing ul li {
  position: relative;
  display: flex;
  justify-content: space-between;
 }

 .cart-footer .math-pricing ul ul {
  width: 100%;
 }

 .cart-footer .math-pricing ul li span:not(.value) ,
 .cart-footer .math-pricing ul li label {
  color: var(--grey-color);
 }


 .cart-footer .math-pricing ul ul li:not(:first-child) {
  padding-left: 20px;
 }

 .cart-footer .math-pricing .total {
  font-size: 18px;
  font-weight: var(--fw600);
 }

 .cart-footer .button {
  text-align: center;
 }

 .cart-footer .button .secondary-btn {
  display: block;
  margin: 20px 0 10px;
 }

 .cart-footer .button .secondary-btn {
  background-color: var(--primary-color);
  border: 0;
  text-transform: capitalize;
  line-height: 54px;
  border-radius: 7px;
  min-width: 240px;
 }

 .cart-footer .button .secondary-btn:hover {
  background-color: var(--grey-color);
  color: var(--white-color);
 }

 .cart-menu .product-list > .wrapper {
  max-width: 400px;
 }

 input.checker {
  position: relative;
  padding: 5px;
  margin: 0 5px 0 2px;
  cursor: pointer;
 }

 input.checker::after, input.checker::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
 }

 input.checker::before {
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  transition: var(--transition-border);
 }

 input.checker::after {
  width: 10px;
  height: 10px;
  background-color: var(--dark-color);
  transform: translate(-50%, 50%) scale(0);
  border-radius: 50%;
  transition: var(--transition-transform);
 }

 input.checker:checked::before {
  border-color: var(--dark-color);
 }

 input.checker:checked::after {
  transform: translate(-50%, 50%) scale(1);
 }

 form :where(input, textarea, select) {
  font-size: var(--fs14);
  border: 1px solid var(--light-color);
  outline: 0;
  background-color: transparent;
  padding: 10px 20px;
  transition: border .3s;
}

form :where(input, textarea, select):focus {
  border-color: var(--dark-color);
}

form :where(input, textarea, select)::placeholder {
  color: var(--grey-color);
}

// .scrollto > .wrapper {
//   --display: flex;
//   padding-bottom: 20px;
//   overflow-x: auto;
//   overscroll-behavior-inline: contain;
//   scroll-snap-type: inline mandatory;
// }

.scrollto::-webkit-scrollbar{
  width: 12px;
  height: 40px;
}

.scrollto::-webkit-scrollbar-thumb{
  --border-color: var(var(--white-color));
  background-color: var(--light-color);
  border: 3px solid var(--border-color);
  border-radius: 20px;
}

.scrollto:hover::-webkit-scrollbar-thumb{
  background-color: var(--grey-color);
}

.scrollto::-webkit-scrollbar-thumb:hover{
  background-color: var(--grey-color);
}

.scrollto {
  --display: flex;
    padding-bottom: 20px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}

