<div class="products_container  grid" >
  <div class="product_item" *ngFor="let item of [1,2,3,4]">
    <div class="product_banner" >
      <a  class="product_images header-img skeleton" >

      </a>

    </div>
    <div class="product_content">
      <div class="skeleton"  style="width: 20%;">
      </div>
      <div class="skeleton product_title" >
      </div>
      <div class="product_rating skeleton skeleton-text" >
      </div>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
    </div>

  </div>
</div>
