<div class="frominsta">
  <div class="container wide">
    <div class="wrap">
      <div class="heading">
        <h2 class="title">Popular Instagram Photos</h2>
      </div>
      <div class="dotgrid scrollto">
        <div class="wrapper">
          <div class="item">
            <div class="dot-image">
              <a href=""></a>
              <div class="thumbnail">
                <img src="/assets/imgs/ig_01.jpg" alt="">
              </div>
              <div class="actions">
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="dot-image">
              <a href=""></a>
              <div class="thumbnail">
                <img src="/assets/imgs/ig_02.jpg" alt="">
              </div>
              <div class="actions">
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="dot-image">
              <a href=""></a>
              <div class="thumbnail">
                <img src="/assets/imgs/ig_03.jpg" alt="">
              </div>
              <div class="actions">
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="dot-image">
              <a href=""></a>
              <div class="thumbnail">
                <img src="/assets/imgs/ig_04.jpg" alt="">
              </div>
              <div class="actions">
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="dot-image">
              <a href=""></a>
              <div class="thumbnail">
                <img src="/assets/imgs/ig_05.jpg" alt="">
              </div>
              <div class="actions">
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
