<!-- <section id="feature" class="section-p1" >
  <div class="features" *ngFor="let features  of listFeatures"  >

  <div class="fe-box" >
     <img src="{{features.img}}" alt="">
     <h6>{{features.title}}</h6>
   </div>
  </div>

</section> -->
<section class="categories container section">
  <h3 class="section_title" ><span>Popular</span>Categories</h3>

  <!-- <swiper class="categories_container">
      <swiper-slide class="category_item">
        <img src="/assets/features/f1.png" alt="" class="category_img">
        <h3 class="category_title"></h3>
      </swiper-slide>
      <swiper-slide class="category_item">
        <img src="/assets/features/f2.png" alt="" class="category_img">
        <h3 class="category_title"></h3>
      </swiper-slide>
      <swiper-slide class="category_item">
        <img src="/assets/features/f3.png" alt="" class="category_img">
        <h3 class="category_title"></h3>
      </swiper-slide>
  </swiper>
</section> -->

