<section class="home section--lg">
  <div class="home__container container grid ">
    <div class="home__content">
      <span class="home__subtitle" >{{componentBanner.titulo}}</span>
      <h1 class="home__title" >
        Testando <span>{{componentBanner.subtitulo}}</span>
      </h1>
      <p class="home__description">
        {{componentBanner.descricao}}
      </p>

      <a  routerLink = "/home"  class="btn" >{{componentBanner.textoBotao}}</a>
    </div>
    <img src="{{componentBanner.imgB64}}" alt="" class="home__img">
  </div>
</section>
