.home {
  background: url('/assets/bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: var(--color-text);
}


.home .content {
  max-width: 27rem;
  position: relative;
  transform: translate(0, 66%);
}


.home .content h1 {
font-size: 3rem;
margin: 2rem 0 1,5rem;
text-transform: uppercase;
}

.home .content p {
  font-size: 1.5rem;
}

.home .content p span {
  font-size: 2rem;
  color: var(--color-secondary);
}

.home button {
  border: none;
}

@media (max-width: 768px) {
  .home .content {
    max-width: 90%;
  }

  .home .content h1 {
    font-size: 2.5rem;
  }

  .home .content p {
    font-size: 1.2rem;
  }

  .home .content p span {
    font-size: 1.8rem;
  }

  .home button {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
  }
}
