<footer class="footer">
  <div class="container footer-container">
    <div class="col col-1">
      <a routerLink="/home" class="logo">
        <img src="/assets/logo.png" alt="">
      </a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem praesentium beatae quos, quaerat repellendus ducimus aliquam expedita repudiandae corporis accusantium illum nulla libero dicta! Voluptatibus, optio vero? Asperiores, veniam.</p>
    </div>
    <div class="col col-2">
      <h2>Link Rápidos</h2>
      <ul>
        <li><a href="">About us</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Track orders</a></li>
        <li><a href="">Shiping</a></li>
        <li><a href="">Faqs</a></li>
      </ul>
      <ul>
        <li><a href="">Support</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Track orders</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">Shiping</a></li>
      </ul>
    </div>
    <!-- <div class="col col-3">
      <h2>Latest Blog</h2>
      <div class="posts">
        <div class="box">
          <img src="/assets/blog (1).jpg" alt="">
          <div class="content">
            <h6>What shpes to wear</h6>
            <span>Pc 23, 2023</span>
            <a href="">read more</a>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col col-4">
      <h2>Contatos</h2>
      <div class="box">
        <span>C.</span>
        <p>Your Company ltd</p>
      </div>
      <div class="box">
        <span>A.</span>
        <p>Leão do norte 81 Fortal-CE</p>
      </div>
      <div class="box">
        <span>T.</span>
        <p>01 234 21321312</p>
      </div>
      <div class="box">
        <span>E.</span>
        <p>ByAurora@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <p>copyright &copy; All rights reserved </p>
</div>
