.footer {
  background-color: #282828;
  padding: 5rem 0 3rem;
  color: var(--color-bg);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.footer-container .col-1{
  color: var(--color-tertiary);
}


.footer-container .col-1 .logo{
  color: var(--color-primary);
}


.footer-container .col-1 p {
  padding-top: 1.5rem;
}

.footer-container .col-1 img {
  padding-top: 2rem;
}

.footer-container .col {
  overflow: hidden;
}


.footer-container h2 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #fff;
}

.footer-container .col .col-1 p {
  color: var(--color-tertiary);
}


.footer-container .col-2 ul {
  list-style: none;
  float: left;
  margin-right: 1.5rem;
}

.footer-container .col-2 ul li a {
  color: var(--color-tertiary);
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 1rem;
}

.footer-container .col-2 ul li a::after {
  position: absolute;
  background: url('/assets/borboleta.ico');
  content: '';
  width: .33rem;
  height: .33rem;
  left: 0;
  top: .33rem;
  border: .1rem solid var(--color-secondary);
  border-radius: 50%;
  transition: var(--transition2);
}

.footer-container .col-2 ul li a:hover::after {
  background: var(--color-secondary);
}

.footer-container .col-4 .box {
  margin-bottom: 1rem;
}

.footer-container .col-4 span {
  float: left;
  color: var(--color-secondary);
  margin-right: 1rem;
  overflow: hidden;
  display: block;
  padding-bottom: 1rem;
}

.copyright{
  text-align: center;
  padding: 1.5rem 0;
}

.copyright p{
  padding: .3rem 0;
  font-weight: 500;
}

.copyright a{
  color: var(--color-secondary);
}
