<div class="inner-footer">
  <div class="container">
    <div class="wrap">
      <div class="top">
        <div class="subscribe">
          <h3>Get voucher from us</h3>
          <p class="grey-color">Enter tou email and teste</p>
          <form action="" class="search">
            <i class="fa-solid fa-inbox" style="position: absolute; left: 5;"></i>
            <input type="text" class="input" placeholder="Enter your mail">
            <input type="submit" class="submit">
            <i class="fa-solid fa-arrow-right" style="position: absolute; right: 5;"></i>
          </form>
        </div>
        <div class="list-block">
          <h3 class="dot-title">Service</h3>
          <ul>
            <li><a routerLink="">About US</a></li>
            <li><a routerLink="">Careers</a></li>
            <li><a routerLink="">Delivery Information</a></li>
            <li><a routerLink="">Terms & Condition</a></li>
            <li><a routerLink="">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="list-block">
          <h3 class="dot-title">Pages</h3>
          <ul>
            <li><a routerLink="">My Account</a></li>
            <li><a routerLink="">Login</a></li>
            <li><a routerLink="">Wishlist</a></li>
            <li><a routerLink="">Cart</a></li>
            <li><a routerLink="">Checkout</a></li>
          </ul>
        </div>
        <div class="list-block">
          <h3 class="dot-title">Pages</h3>
          <div class="comp-adress grey-color">
            <p>Simpang 5 No.1<br>Central Java - ID</p>
            <p>
              <a routerLink="">+62123456789</a>
              <br>
              <a routerLink="">hello@youtube.com</a>
            </p>
            <p>
              Weekdays: 6AM to 6PM<br>
              Saturday: 6AM to 3PM<br>
              Sunday: Closed
            </p>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="list-inline">
            <ul>
              <li><a routerLink=""><i class="fa-brands fa-instagram"></i></a></li>
              <li><a routerLink=""><i class="fa-brands fa-square-facebook"></i></a></li>
              <li><a routerLink=""><i class="fa-brands fa-twitter"></i></a></li>
              <li><a routerLink=""><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
          </div>
          <div class="copyright">
            <p>© 2023. By Aurora. All rights reserved</p>
          </div>
      </div>
    </div>
  </div>
</div>
