.product_banner,
.product_images {
  position: relative;
}

.product_images{
 display: block;
 overflow: hidden;
 border-radius: 1.25rem;
}

.product_img.hover {
  position: absolute;
  top: 0;
  left: 0;
}


.product_item {
  border: 1px solid hsl(129, 36%, 85%);
  border-radius: 1.5rem;
  transition: all .2s var(--transition);
}

.product_banner {
  padding: 0.625rem 0.75rem 0.75rem;
}

.products_container {
  grid-template-columns: repeat(4,1fr);
}


.product_img.hover,
.product_actions,
.product_item:hover .product_img.default
{
  opacity: 0;
}

.product_item:hover{
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1 );
}

.product_item:hover .product_img.hover
{
  opacity: 1;
}

.product_badge{
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  background-color: hsl(176, 88%, 27%);
  padding: .25rem .625rem;
  border-radius: 2.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 0.6875rem;
}

.product_content {
  padding: 0 1.25rem 1.125rem;
}

.product_category {
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.product_title{
  font: var(--normal-font-size);
  margin-block: 0.75rem 0.5rem;
}

.product_rating{
  color: hsl(42, 100%, 50%);
  font-size: var(--smaller-font-size);
  margin-bottom: 0.75rem;
}

.new__price{
  color: var(--first-color);
  font-weight: var(--weight-600);
}

.old_price{
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
  text-decoration: line-through;
}

.product_price .new_price {
  font-size: var(--large-font-size);
}


.product_item:hover .product_img{
  transform: scale(1.1);
}


.product_img{
  vertical-align: middle;
  transition: all 1.5s var(--transition);
}

.container{
  display: flex;
  flex: 1;
  flex-direction: column;
}


.card-body{
  min-height: 50px;
}



.header-img {
  width: 256px;
  height: 307px;
  object-fit: cover;
  flex-shrink: 0;
}
