
<div class="products_container  grid" >
    <div  class="product_item" *ngFor="let item of data_products">

      <div class="product_banner" (click)="detailsProduct(item.produto.id)">
        <a  class="product_images" [ngClass]="{'header-img': loading === true, 'skeleton': loading === true}">
          <img src="{{item.imagens[0]}}" class="product_img default" alt="">

          <img src="{{item.imagens[1]}}" class="product_img hover" alt="">
        </a>
        <!-- [ngClass]="{ 'size-active': activeTamanho === index }" -->
         <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>
      <div class="product_content">
        <div [ngClass]="{'skeleton': loading === true}" style="width: 20%;">
          <span class="product_category">{{item.produto.categoria}}</span>
        </div>
        <div [ngClass]="{'skeleton': loading === true}">
          <h3 class="product_title" >{{item.produto.nome}}</h3>
        </div>
        <div class="product_rating" [ngClass]="{'skeleton': loading === true}">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" [ngClass]="{'skeleton': loading === true}"  >
          <span class="new_price">R$ {{item.produto.preco}}</span>
          <span class="old_price">R$ 267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>

  </div>


</div>
