<div class="fromblog">
  <div class="container">
    <div class="wrap">
      <div class="heading">
        <h2 class="title">From the blog</h2>
      </div>
      <div class="dotgrid scrollto">
        <div class="wrapper">
          <div class="item">
            <div class="dot-image">
              <div class="thumbnail hover">
                <a href="">
                  <img src="" alt="">
                </a>
              </div>
            </div>
            <div class="dot-info">
              <a href="">Hoodie</a>
              <h3 class="dot-title">
                <a href="">what is easise snitting</a>
              </h3>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>.
