.carousel .inner-wrapper {
  position: relative;

}
.carousel .dotgrid .wrapper {
  display: flex;
  grid-template-columns: unset;
  gap: unset;
}

.title {
  text-align: center;
}

.carousel .nav  > div ::after{
  content: none;
}

.swiper-container::part(button-prev)  {
  width: 40px;
  height: 40px;
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  font-size: 20px;
}
