<!-- <section id="header">
  <a href="#"><img class="logo" src="\assets\aurora.png" alt=""></a>

  <div>
    <ul id="navbar" >
      <li  >
        <a routerLink= "/home" class="active" >home</a>
      </li>
      <li><a routerLink ="/produtos/2" >shop</a></li>
    </ul>
  </div>
</section> -->


<header class="header" >
  <nav class="nav container">
    <a routerLink="/home" class="nav__logo" >
      <img src="\assets\aurora.png" class="nav__logo-img" alt="">
    </a>

    <!-- *ngFor="let produtos of listaProdutos" -->
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list" *ngFor="let routes of route"  >
        <li class="nav__item">
          <a routerLink ="{{routes.routerLink}}" class="nav__link">{{routes.title}}</a>
        </li>
      </ul>

      <div class="header__search">
        <input type="text" class="form__input" placeholder="Search for items..."  >

        <button class="search__btn" >
          <img src="" alt="">
        </button>
      </div>
    </div>

    <div class="header__user-actions">
      <a href="" class="header__action-btn">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="count" >3</span>
      </a>


      <a href="" class="header__action-btn">
        <i class="fa-regular fa-bookmark"></i>
        <span class="count" >3</span>
      </a>

    </div>
  </nav>
</header>





