<section id="header">
  <a href="#"><img class="logo" src="/assets/logo.png" alt=""></a>

  <div>
    <ul id="navbar" >
      <li><a class="active" href="#">home</a></li>
      <li><a href="">shop</a></li>
      <li><a href="">home</a></li>
      <li><a href="">shop</a></li>
    </ul>
  </div>
</section>
<!-- home page -->
<section id="hero">
  <h4>Trade in offer</h4>
  <h2>Super Value</h2>
  <h1>oN ALL </h1>
  <p>Sve more with coupons</p>
  <button>SHop now</button>
</section>

<section id="feature" >
  <div class="fe-box" >
    <img  src="/assets/features/f1.png" >
    <h6>free shipping</h6>
  </div>

</section>
