  <div class="guide">
    <div class="container">
      <div class="wrap">
        <div class="heading">
          <h2 class="title">products Guide</h2>
        </div>
        <div class="dotgrid scrollto">
          <div class="wrapper">
            <div class="item">
              <div class="dot-image">
                <div class="thumbnail hover">
                  <img src="\assets\hero4.png" alt="">
                </div>
              </div>
              <div class="dot-info">
                <h3 class="dot-title">The Blue Ocean Mx</h3>
                <p class="grey-color">Lorem ipsum</p>
              </div>
            </div>
            <div class="item">
              <div class="dot-image">
                <div class="thumbnail hover">
                  <img src="\assets\hero4.png" alt="">
                </div>
              </div>
              <div class="dot-info">
                <h3 class="dot-title">The Blue Ocean Mx</h3>
                <p class="grey-color">Lorem ipsum</p>
              </div>
            </div>
            <div class="item">
              <div class="dot-image">
                <div class="thumbnail hover">
                  <img src="\assets\hero4.png" alt="">
                </div>
              </div>
              <div class="dot-info">
                <h3 class="dot-title">The Blue Ocean Mx</h3>
                <p class="grey-color">Lorem ipsum</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>


