:is(.guide) .dot-image .thumbnail {
  position: relative;
  opacity: unset;
}

.guide {
  background-color: var(--flashwhite-color);
}
.guide .dotgrid .wrapper {
  -grid-col: 260px;
}
.heading  {
  text-align: center;
  margin-bottom: 60px;
}

.guide .fot-image .thumbnail img {
  width: 100%;
}


.guide .dot-title {
  --fs14: 10px;
  --fw600: 400;
  padding: 10px 0;
}


.guide .dot-info p {
  line-height: 1.4;
}


.guide .wrapper .item {
  width: 290px;
  scroll-snap-align: start;
  flex-shrink: 0;
}


.guide .scrollto .wrapper::-webkit-scrollbar-thumb {
  --border-color: #f0f9f8;
}
