
// new css
.details_container {
  grid-template-columns: 5.5fr 6.5fr;
}

.details_img {
  margin-bottom: 0.5rem;
}

.details_small-images {
  grid-template-columns: repeat(4,1fr);
  column-gap: .625rem;
}


.details_small-img{
  cursor: pointer;
}

.details_title {
  font-size: var(--h2-font-size);
}

.details_brand  {
  font-size: var(--small-font-size);
  margin-block: 1rem;
}

.details_brand span{
  color: var(--first-color);
}

.details_price {
  border-top: 1px solid var(--border-color-alt);
  border-bottom: 1px solid var(--border-color-alt);
  padding-block: 1rem;
  column-gap: 1rem;
}

.details_price .new_price {
  font-size: var(--h2-font-size);
}

.details_price .old_price {
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
  text-decoration: line-through;
}

.short_description {
  margin-block: 1rem 2rem;
}

.list_item,
.meta_list {
  font-size: var(--small-font-size);
  margin-bottom: .75rem;
}

.details_color,
.details_size {
  column-gap: .75rem;
}

.details_color{
  margin-block: 2rem 1.5rem;
}

.detalis_color-title,
.details_size-title {
  font-size: var(--small-font-size);
  font-weight: (--weight-600);
}

.color_list,
.size_list {
  display: flex;
  column-gap: 0.25rem;
}


.color_link {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.size_link {
  border: 1px solid var(--border-color-alt);
  padding: 0.375rem 0.75rem 0.5rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  cursor: pointer;
}

.details_size {
  margin-bottom: 2.5rem;
}

.size-active {
  background-color: var(--first-color);
  color: var(--body-color);
}

.details_action {
  display: flex;
  column-gap: 0.375rem;
  margin-bottom: 3.25rem;
}

.quantity,
.details_action-btn {
  border: 1px solid var(--border-color-alt);
  font-size: var(--small-font-size);
}

.quantity {
  max-width: 80px;
  padding-block: .5rem;
  padding-inline: 1rem 0.5rem;
  border-radius: 0.25rem;
}

.details_action-btn {
  color: var(--text-color);
  line-height: 40px;
  padding-inline: 0.75rem;
}



.details_meta {
  border-top: 1px solid var(--border-color-alt);
  padding-top: 1rem;
}

.detail_tabs{
  display: flex;
  column-gap: 1.75rem;
  margin-bottom: 3rem;
}

.detail_tab{
  font-family: var(--second-font);
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
}

.detail_tab.active-tab {
  color: var(--first-color);
}

.info_table tr th,
.info_table tr td{
  border: 1px solid var(--body-color-alt);
  padding: .625rem 1.25rem;
}

.info_table tr th{
  font-weight: var(--weight-500);
  text-align: left;
}

.info_table tr td {
  color: var(--text-color-light);
}



.main_img{
  padding-bottom: 1rem;
}

.selected-color {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%; /* Isso cria uma forma circular */
}


button {
  padding: 1rem 1.30rem;
}

.btn {
  cursor: pointer;
}
