#perfil-produto .single-produto-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

#perfil-produto{
  display: flex;
  margin-top: 20px;
}

#perfil-produto .detalis-single-product{
width: 50%;
padding-top: 30px;
}

#perfil-produto .detalis-single-product h4{
  padding: 40px 0 20px 0;
}

#perfil-produto .detalis-single-product h2{
  font-size: 26px;
}


#perfil-produto .detalis-single-product select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#perfil-produto .detalis-single-product input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#perfil-produto .detalis-single-product button {
  background-color: #088178;
  color: #fff;
}

#perfil-produto .detalis-single-product span {
  line-height: 25px;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}


// new css
.details__container {
  grid-template-columns: 5.5fr 6.5fr;
}

.details__img {
  margin-bottom: 0.5rem;
}

.details__small-images {
  grid-template-columns: repeat(4,1fr);
  column-gap: .625rem;
}


.details__small-img{
  cursor: pointer;
}
