

<div id="page" class="page-single">
  <app-nav-header-new></app-nav-header-new>
  <main>
    <div class="section">
      <div class="container">
        <div class="wrap">
          <div class="product dotgrid">
            <div class="wrapper">
              <div class="image">
                <div class="outer-main">
                  <div class="main-image swiper">
                    <div class="wrap swiper-wrapper">
                      <div class="item swiper-slide"><img src="/assets/imgs/product_01.jpg" alt=""></div>
                      <div class="item swiper-slide"><img src="/assets/imgs/product_01b.jpg" alt=""></div>
                      <div class="item swiper-slide"><img src="/assets/imgs/product_06.jpg" alt=""></div>
                      <div class="item swiper-slide"><img src="/assets/imgs/product_06b.jpg" alt=""></div>
                      <div class="item swiper-slide"><img src="/assets/imgs/product_02.jpg" alt=""></div>
                      <div class="item swiper-slide"><img src="/assets/imgs/product_02b.jpg" alt=""></div>
                    </div>
                  </div>
                  <div class="custom-pagination">
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                <div class="outer-thumb ob-cover">
                  <div class="thumbnail-image swiper">
                    <div class="wrap swiper-wrapper">
                      <div class="item swiper-slide">
                        <div class="thumb-wrap"><img src="/assets/imgs/product_01.jpg" alt=""></div>
                      </div>
                      <div class="item swiper-slide">
                        <div class="thumb-wrap"><img src="/assets/imgs/product_01b.jpg" alt=""></div>
                      </div>
                      <div class="item swiper-slide">
                        <div class="thumb-wrap"><img src="/assets/imgs/product_06.jpg" alt=""></div>
                      </div>
                      <div class="item swiper-slide">
                        <div class="thumb-wrap"><img src="/assets/imgs/product_06b.jpg" alt=""></div>
                      </div>
                      <div class="item swiper-slide">
                        <div class="thumb-wrap"><img src="/assets/imgs/product_02.jpg" alt=""></div>
                      </div>
                      <div class="item swiper-slide">
                        <div class="thumb-wrap"><img src="/assets/imgs/product_02b.jpg" alt=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="summary">
                <div class="entry">
                  <h1 class="title">The Swater in Tosca</h1>
                  <div class="product-group">
                    <div class="product-price">
                      <span class="current">$45.00</span>
                      <div class="wrap">
                        <span class="before">$62.00</span>
                        <span class="discount">-25%</span>
                      </div>
                    </div>
                    <div class="product-rating">
                      <span>
                        <i class="fa-solid fa-star"></i>
                        <span>4.8</span>
                      </span>
                      <a >3 Reviews</a>
                    </div>
                  </div>
                  <div class="product-color">
                    <span>Colors</span>
                    <div class="wrap">
                      <button class="tosca selected" ></button>
                      <button class="brown"></button>
                      <button class="ocean"></button>
                    </div>
                  </div>
                  <div class="product-size">
                    <span>Size:</span>
                    <div class="wrap">
                      <button disabled >S</button>
                      <button >M</button>
                      <button class="selected" >L</button>
                      <button>XL </button>
                    </div>
                  </div>
                  <div class="product-stock">
                    <div class="wrap">
                      <strong>201</strong>
                      <span class="grey-color">in stock</span>
                      <i class="fa-solid fa-circle-check"></i>
                    </div>
                  </div>
                  <div class="product-action">
                    <div class="qty">
                      <button class="decrease">-</button>
                      <input type="text" value="1" >
                      <button class="increase">+</button>
                    </div>
                    <div class="addcart button">
                      <button type="submit" class="primary-btn">Add to cart</button>
                    </div>
                    <div class="buynow button">
                      <button type="submit" class="secondary-btn">Buy Now</button>
                    </div>
                  </div>
                  <div class="product-control list-inline">
                    <ul>
                      <li><a ><i class="fa-solid fa-heart"></i><span>Add to wishlist</span></a></li>
                      <li><a ><i class="fa-solid fa-arrow-right-arrow-left"></i><span>Compare</span></a></li>
                      <li><a ><i class="fa-solid fa-share-nodes"></i><span>Share</span></a></li>
                      <li><a ><i class="fa-solid fa-circle-question"></i><span>Ask Question</span></a></li>
                    </ul>
                  </div>
                  <div class="shipping">
                    <ul>
                      <li>
                        <i class="fa-solid fa-share-nodes"></i>
                        <span>free shiing & return</span>
                        <span class="grey-color" > On orders over $100</span>
                      </li>
                      <li>
                        <i class="fa-solid fa-share-nodes"></i>
                        <span>Estimate delivery:</span>
                        <span class="grey-color" > 01 - 07 jan, 2023</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product detail">
            <div class="wrapper tabbed">
              <nav class="list-inline scrollto">
                <ul class="wrapper">
                  <li class="active"  [ngClass]="{'active': abaSelcionada === 'Product details'}" (click)="trocarAba('Product details')" ><a ><span>Product details</span></a></li>
                  <li [ngClass]="{'active': abaSelcionada === 'Custom'}"  (click)="trocarAba('Custom')" ><a  class="tabbed-trigger"><span>Custom</span></a></li>
                  <li [ngClass]="{'active': abaSelcionada === 'Reviews'}"  (click)="trocarAba('Reviews')" ><a class="tabbed-trigger"><span>Reviews</span><span class="item-floating" >{{itemFloating}}</span></a></li>
                  <li [ngClass]="{'active': abaSelcionada === 'Shipping'}" (click)="trocarAba('Shipping')" ><a  class="tabbed-trigger"><span>Shipping</span></a></li>
                </ul>
              </nav>
              <div id="product-description" class="product-about description active" *ngIf="abaSelcionada === 'Product details'" >
                <div class="text-block">
                  <h3>The Swater in tosca</h3>
                  <div class="grey-color">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, voluptatem fugiat deserunt aliquid cum laborum illum deleniti nihil at, dolores veritatis, blanditiis fuga iste quis vel iure necessitatibus totam animi.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, minus distinctio iusto quam laboriosam exercitationem, non velit, eos quidem adipisci dolore tenetur maxime! Perferendis pariatur voluptatum delectus. Fuga, quidem cum.</p>
                  </div>
                </div>
                <div class="dotgrid">
                  <div class="wrapper">
                    <div class="list-block">
                      <h4>What is this?</h4>
                      <ul class="grey-color">
                        <li>95% Polyester, 5% spandex</li>
                        <li>Wrap closure</li>
                        <li>Hand Wash only</li>
                        <li>Simples yet flaterring dress</li>
                      </ul>
                    </div>
                    <div class="list-block">
                      <h4>What makes our products unique?</h4>
                      <p class="grey-color">sempre esteja na moda, nos dedicamos para trazer o melhor</p>
                    </div>
                    <div class="list-block">
                      <h4>WWashing instrutions</h4>
                      <p class="grey-color">sempre esteja na moda, nos dedicamos para trazer o melhor</p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="product-custom" class="product-about custom" *ngIf="abaSelcionada === 'Custom'">
                <h3>Our custom size</h3>
                <div class="image">
                  <img src="\assets\imgs\custom-size.jpg" alt="">
                </div>
              </div>
              <div id="product-review" class="product-about review" *ngIf="abaSelcionada === 'Reviews'">
               <div class="wrapper">
                <h3>Rating & Review</h3>
                <div class="head-review">
                  <div class="sum-rating">
                    <strong>4.8</strong>
                    <span>3 reviews</span>
                  </div>
                  <div class="button">
                    <a  class="primary-btn">Write a review</a>
                  </div>
                </div>
                <div class="body-review">
                  <div class="profile">
                    <div class="thumb-name">
                      <div class="image">
                        <img src="\assets\imgs\ig_01.jpg" alt="">
                      </div>
                      <div class="grouping">
                        <div class="name">Sarah</div>
                        <div class="rating">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="data grey-color">On November 7, 2022</div>
                      </div>
                    </div>
                    <div class="comment">
                      <strong>Awesome Product</strong>
                      <p class="grey-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio possimus quos soluta velit ratione earum ad quasi esse expedita, omnis, laborum et id officia totam distinctio minima inventore culpa.</p>
                    </div>
                  </div>
                  <div class="profile">
                    <div class="thumb-name">
                      <div class="image">
                        <img src="\assets\imgs\ig_02.jpg" alt="">
                      </div>
                      <div class="grouping">
                        <div class="name">Sarah</div>
                        <div class="rating">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="data grey-color">On November 7, 2022</div>
                      </div>
                    </div>
                    <div class="comment">
                      <strong>Awesome Product</strong>
                      <p class="grey-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio possimus quos soluta velit ratione earum ad quasi esse expedita, omnis, laborum et id officia totam distinctio minima inventore culpa.</p>
                    </div>
                  </div>
                  <div class="profile">
                    <div class="thumb-name">
                      <div class="image">
                        <img src="\assets\imgs\ig_03.jpg" alt="">
                      </div>
                      <div class="grouping">
                        <div class="name">Sarah</div>
                        <div class="rating">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="data grey-color">On November 7, 2022</div>
                      </div>
                    </div>
                    <div class="comment">
                      <strong>Awesome Product</strong>
                      <p class="grey-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio possimus quos soluta velit ratione earum ad quasi esse expedita, omnis, laborum et id officia totam distinctio minima inventore culpa.</p>
                    </div>
                  </div>
                </div>
               </div>

              </div>
              <div id="product-shipping" class="product-about shipping" *ngIf="abaSelcionada === 'Shipping'">
                <div class="grey-color">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid soluta enim iure, nisi voluptas libero. Iste omnis maxime excepturi, perspiciatis illum dolorem laudantium nulla vero consequatur esse harum debitis eaque?</p>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat ducimus tenetur fuga incidunt at officia, nisi accusantium quaerat magni hic! Repudiandae culpa libero quasi delectus aperiam cupiditate minima officiis voluptatem.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-carrosel></app-carrosel>
  </main>
</div>
<div class="data-popup d-share">
  <div class="wrap">
    <div class="data-content">
      <a  class="close-trigger"><i class="fa-solid fa-xmark"></i></a>
      <div class="form">
        <label >Copy link</label>
        <input type="text" disabled value="https://pt.quarkus.io/guides/rest-client-multipart">
        <span><i class="fa-regular fa-copy"></i></span>
      </div>
      <div class="media-share list-inline">
        <label >Share</label>
        <ul>
          <li><a ><i class="fa-brands fa-facebook"></i></a></li>
          <li><a ><i class="fa-brands fa-twitter"></i></a></li>
          <li><a ><i class="fa-brands fa-whatsapp"></i></a></li>
          <li><a ><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="data-popup d-share">
  <div class="wrap">
    <div class="data-content">
      <a  class="close-trigger"><i class="fa-solid fa-xmark"></i></a>
      <h3>The Question</h3>
      <form action="">
        <div>
          <input type="text" placeholder="Name">
        </div>
        <div>
          <input type="text" placeholder="Email">
        </div>
        <div><textarea name="" placeholder="Your question is" id="" cols="30" rows="5"></textarea></div>
        <div class="button">
          <button type="submit" class="secondary-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="data-popup d-review">
  <div class="wrap">
    <div class="data-content">
      <a  class="close-trigger"><i class="fa-solid fa-xmark"></i></a>
      <h3>White a Review</h3>
      <form action="">
        <div class="dotgrid">
          <div class="wrapper">
            <div>
              <input type="text" placeholder="Name">
            </div>
            <div>
              <input type="text" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="rating">
          <span>Your rating:</span>
          <div class="stars">
            <input type="radio" name="rating" id="star5">
            <label for="star5"><i class="fa-solid fa-star"></i></label>
            <input type="radio" name="rating" id="star4">
            <label for="star4"> <i class="fa-solid fa-star"></i></label>
            <input type="radio" name="rating" id="star3">
            <label for="star3"> <i class="fa-solid fa-star"></i></label>
            <input type="radio" name="rating" id="star2">
            <label for="star2"> <i class="fa-solid fa-star"></i></label>
            <input type="radio" name="rating" id="star1">
            <label for="star1"> <i class="fa-solid fa-star"></i></label>
          </div>
        </div>
        <div>
          <input type="text" placeholder="Review title">
        </div>
        <div><textarea name="" placeholder="Your review is" id="" cols="30" rows="5"></textarea></div>
        <div class="button">
          <button type="submit" class="secondary-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="cart-menu active">
  <div class="wrap">
    <a  class="close-trigger"><i class="fa-solid fa-xmark"></i></a>
    <div class="scrollto cart-outer">
      <div class="wrapper">
        <div class="cart-list">
          <div class="wrapper">
            <div class="cart-header">
              <h2>Shopping cart</h2>
            </div>
            <div class="cart-body scrollto">
              <div class="product-list">
                <div class="wrapper">
                  <ul>
                    <li>
                      <div class="grouping">
                        <div class="quantity">
                          <div class="control">
                            <button>-</button>
                            <input type="text" value="1">
                            <button>+</button>
                          </div>
                        </div>
                        <div class="thumbnail">
                          <a >
                            <img src="\assets\imgs\product_01.jpg" alt="">
                          </a>
                        </div>
                      </div>
                      <div class="variants">
                        <h4 class="dot-title"><a >The sweater</a></h4>
                        <div class="color grey-color">
                          <span>Color:</span>
                          <span>Tosca</span>
                        </div>
                        <div class="size grey-color">
                          <span>Size:</span>
                          <span>L</span>
                        </div>
                        <div class="price">$45</div>
                        <a  class="item-remove">
                          <i class="fa-solid fa-xmark"></i>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="grouping">
                        <div class="quantity">
                          <div class="control">
                            <button>-</button>
                            <input type="text" value="1">
                            <button>+</button>
                          </div>
                        </div>
                        <div class="thumbnail">
                          <a >
                            <img src="\assets\imgs\product_01.jpg" alt="">
                          </a>
                        </div>
                      </div>
                      <div class="variants">
                        <h4 class="dot-title"><a >The sweater</a></h4>
                        <div class="color grey-color">
                          <span>Color:</span>
                          <span>Tosca</span>
                        </div>
                        <div class="size grey-color">
                          <span>Size:</span>
                          <span>L</span>
                        </div>
                        <div class="price">$45</div>
                        <a  class="item-remove">
                          <i class="fa-solid fa-xmark"></i>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="grouping">
                        <div class="quantity">
                          <div class="control">
                            <button>-</button>
                            <input type="text" value="1">
                            <button>+</button>
                          </div>
                        </div>
                        <div class="thumbnail">
                          <a >
                            <img src="\assets\imgs\product_01.jpg" alt="">
                          </a>
                        </div>
                      </div>
                      <div class="variants">
                        <h4 class="dot-title"><a >The sweater</a></h4>
                        <div class="color grey-color">
                          <span>Color:</span>
                          <span>Tosca</span>
                        </div>
                        <div class="size grey-color">
                          <span>Size:</span>
                          <span>L</span>
                        </div>
                        <div class="price">$45</div>
                        <a  class="item-remove">
                          <i class="fa-solid fa-xmark"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="cart-footer">
              <div class="discount">
                <form action="">
                  <input type="text" class="input" placeholder="Cupom">
                  <input type="submit" class="submit" value="Apply">
                </form>
              </div>
              <div class="math-pricing">
                <ul>
                  <li>
                    <span>Subtotal</span>
                    <span class="value" ></span>
                  </li>
                  <ul>
                    <li><span>Shipping</span></li>
                    <li>
                      <div>
                        <input type="radio" class="checker" name="shipping" id="">
                        <label for="">Free</label>
                      </div>
                      <span class="value" >$0.00</span>
                    </li>
                    <li>
                      <div>
                        <input type="radio" class="checker" name="shipping" id="">
                        <label for="">Flat</label>
                      </div>
                      <span class="value" >$147.00</span>
                    </li>
                  </ul>
                </ul>
              </div>
              <div class="button">
                <a href="" class="secondary-btn">Checkout</a>
                <a href="" class="grey-link">View Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer-home></app-footer-home>
