<app-nav-header></app-nav-header>
<section id="perfil-produto" class="section-p1" >
<div class="single-produto-image" >
  <img src={{mainImg}} width="100%" id="MainImg" alt="">
  <div class="small-img-group" >
    <div class="small-img-col" *ngFor="let img of listImagensProduto; let i = index" >
      <img src="{{img}}" width="100%" class="small-img" (click)="tradeImg(i)" alt="">
    </div>
  </div>
</div>
<div class="detalis-single-product" >
<h6>Home/T-Shirt</h6>
<h4>Mens fashion</h4>
<h2>$139</h2>
<select name="" id="" >
  <option value="" *ngFor="let tamanho of tamanhoBlusas">
    {{tamanho.tamanho}}
  </option>
</select>
<input type="number" value="1" >
<button class="normal"  >Add to carrinho</button>
<h4>Product Details</h4>
<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
</div>
<div></div>
</section>
<app-footer-home></app-footer-home>


<section class="details section--lg" >
  <div class="details__container container grid">
    <div class="details__group">
      <img src="" alt="">

      <div class="details__small-umages grid">
        <img src="" alt="">
      </div>
    </div>

    <div class="details__group">
      <h3 class="details__title">Henley Shirt</h3>
      <p class="details__brand" > Brands: <span>adidas</span> </p>

      <div class="details__price flex">
        <span class="new__price" >$116.00</span>
        <span class="old__price" >$200.00</span>
        <span class="save__price" >25%</span>
      </div>


      <p class="short_description" >
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>

      <ul class="product__list">
        <li class="list__item flex" >
          <i class="fi-rs-crown" ></i> 1 Year Al jazeera brand
        </li>
        <li class="list__item flex" >
          <i class="fi-rs-crown" ></i> 1 Year Al jazeera brand
        </li>
        <li class="list__item flex" >
          <i class="fi-rs-crown" ></i> 1 Year Al jazeera brand
        </li>
      </ul>

      <div class="details__color flex">
        <span class="details__color-title" >Color</span>

        <ul class="color--list">
          <li>
            <a href="" class="color__link" style="background-color: hsl(37,100%,65%);" ></a>
          </li>
          <li>
            <a href="" class="color__link" style="background-color: hsl(37,100%,65%);" ></a>
          </li>
          <li>
            <a href="" class="color__link" style="background-color: hsl(37,100%,65%);" ></a>
          </li>
        </ul>
      </div>


      <div class="details__size flex">
        <span class="details__size-title" >Color</span>

        <ul class="size--list">
          <li>
            <a href="" class="size__link"  >L</a>
          </li>
          <li>
            <a href="" class="size__link"  >XL</a>
          </li>
          <li>
            <a href="" class="size__link"  >XXL</a>
          </li>

        </ul>
      </div>

      <div class="details__action">
        <input type="number" class="quantity" value="3">

        <a href="" class="btn btn--sm" >Add to Cart</a>

        <a href="" class="details__action-btn" >
          <i></i>
        </a>


        <ul class="details__meta">
          <li class="meta__list flex" ><span>SKU:</span> FWM15VKT</li>
        </ul>
      </div>
    </div>
  </div>
</section>
