<app-nav-header></app-nav-header>



<section class="details " >
  <div class="details_container container grid">
    <div class="details_group">
      <img src="{{mainImg}}" alt="">

      <div class="details_small-images grid"  >
        <div *ngFor="let item of listImagensProduto; let index = index" >
          <img src="{{item}}" class="details_small-img" (click)="tradeImg(index)" alt="">
        </div>

      </div>
    </div>

    <div class="details_group">
      <h3 class="details_title">Henley Shirt</h3>
      <p class="details_brand" > Brands: <span>adidas</span> </p>

      <div class="details_price flex">
        <span class="new_price" >$116.00</span>
        <span class="old_price" >$200.00</span>
        <span class="save_price" >25% off</span>
      </div>


      <p class="short_description" >
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>

      <ul class="product_list">
        <li class="list_item flex" >
          <i class="fa-solid fa-crown"></i> 1 Year Al jazeera brand
        </li>
        <li class="list_item flex" >
          <i class="fa-solid fa-arrows-rotate"></i> 30 Day Return Policy
        </li>
        <li class="list_item flex" >
          <i class="fa-regular fa-credit-card"></i> Cash on Delivery available
        </li>
      </ul>

      <div class="details_color flex">
        <span class="details_color-title" >Color</span>

        <ul class="color_list">
          <li>
            <a href="" class="color_link" style="background-color: hsl(37,100%,65%);" ></a>
          </li>
          <li>
            <a href="" class="color_link" style="background-color: hsl(353,100%,67%);" ></a>
          </li>
          <li>
            <a href="" class="color_link" style="background-color: hsl(49,100%,60%);" ></a>
          </li>
          <li>
            <a href="" class="color_link" style="background-color: hsl(304,100%,78%);" ></a>
          </li>
        </ul>
      </div>


      <div class="details_size flex">
        <span class="details_size-title" >Size</span>

        <ul class="size_list">
          <li>
            <a href="" class="size_link size-active"  >L</a>
          </li>
          <li>
            <a href="" class="size_link"  >XL</a>
          </li>
          <li>
            <a href="" class="size_link"  >XXL</a>
          </li>

        </ul>
      </div>

      <div class="details_action">
        <input type="number" class="quantity" value="3">

        <a href="" class="btn btn-sm" >Add to Cart</a>

        <a href="" class="details_action-btn" >
          <i class="fa-regular fa-heart"></i>
        </a>

      </div>

      <ul class="details_meta">
          <li class="meta_list flex" ><span>SKU:</span> FWM15VKT</li>
          <li class="meta_list flex" ><span>Tags:</span> Cloth, Women, Dress</li>
          <li class="meta_list flex" ><span>Availabiity:</span> Cloth, Women, Dress</li>
        </ul>
    </div>
  </div>
</section>

<section class="details_tab container" >
  <div class="detail_tabs">
    <span class="detail_tab active-tab">
      Additional Info
    </span>
  </div>

  <div class="details_tabs-content">
    <div class="details_tab-content active-tab" id="info">
      <table class="info_table">
        <tr>
          <th>Stand up</th>
          <td>35"L x 24"W x 37-45"H(front to back wheel)</td>
        </tr>

        <tr>
          <th>Folded(w/o wheels)</th>
          <td>35"L x 24"W x 37-45</td>
        </tr>

        <tr>
          <th>Folded(w/ wheels)</th>
          <td>35"L x 24"W x 37-45</td>
        </tr>

        <tr>
          <th>Door Pass Through</th>
          <td>24</td>
        </tr>

        <tr>
          <th>Frame</th>
          <td>Aluminum</td>
        </tr>

        <tr>
          <th>Width</th>
          <td>24"</td>
        </tr>

        <tr>
          <th>Color</th>
          <td>Black</td>
        </tr>

        <tr>
          <th>Size</th>
          <td>M,S</td>
        </tr>
      </table>
    </div>
  </div>
</section>

<section class="products container section--lg">
  <h3 class="section_title"><span>Related</span> Products</h3>

  <div class="products_container grid"></div>
</section>

<app-footer-home></app-footer-home>
