<app-nav-header></app-nav-header>

<app-breadcrumb></app-breadcrumb>

<section class="cart container2 section-lg" >
  <div class="table_container">
    <table class="table" >
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Remove</th>
      </tr>

      <tr>
        <td><img src="/assets/produtcs/57968304-800-auto.jpg" alt="" class="table_img"></td>
        <td>
          <h3 class="table_title">Blusa</h3>
          <p class="table_description">sadsajdkjsahdjkashdkjsahdkjsahdkjashdkhdsk</p>
        </td>
        <td><span class="table_price">$110.00</span></td>
        <td><input type="number" value="3" class="quantity"></td>

        <td><span class="table_subtotal">$220</span></td>

        <td><i class="fa-solid fa-trash table_trash"></i></td>
      </tr>
    </table>
  </div>

  <div class="cart_actions">
    <a href="" class="btn flex btn-md">
      <i class="fa-solid fa-bag-shopping icon"></i> Finish
    </a>
  </div>

  <div class="divider">
    <i class="fa-solid fa-hippo"></i>
  </div>


  <div class="cart-group grid">
    <div>
      <div class="cart_shipping">
        <h3 class="section_title"></h3>

        <form action="" class="form grid">
          <input type="
          " class="form_input">

          <div class="form_group grid">
            <input type="text" class="form_input">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<app-footer-home></app-footer-home>
