.table_container{
  overflow-x: auto;
}

.table {
  table-layout: fixed;
  margin-bottom: 2rem;
}

.table tr {
  border-top: 1px solid var(--body-color-alt);
}

.table tr:last-child {
  border-bottom: 1px solid var(--border-color-alt);
}


.table tr th:nth-child(1),
.table tr td:nth-child(1) {
  width: 216px ;
}

.table tr th:nth-child(2),
.table tr td:nth-child(2) {
  width: 400px;
}

.table tr th:nth-child(3),
.table tr td:nth-child(3) {
  width: 108px;
}


.table tr th:nth-child(4),
.table tr td:nth-child(4) {
  width: 220px;
}

.table tr th:nth-child(5),
.table tr td:nth-child(5) {
  width: 200px;
}


.table tr th:nth-child(6),
.table tr td:nth-child(6) {
  width: 152px;
}

.table_img {
  width: 80px;
  display: inline;
}

.table tr th,
.table tr td {
  padding: 0.5rem;
  text-align: center;
}

.table_title,
.table_description,
.table_price,
.tble_subtotal,
.table_trash {
  font-size: var(--small-font-size);
}

.table_title {
  color: var(--first-color);
}

.table_description {
  max-width: 250px;
  margin-inline: auto;
}

.table_trash{
  color: var(--text-color-light);
}

.quantity {
  max-width: 80px;
  padding-block: .5rem;
  padding-inline: 1rem 0.5rem;
  border-radius: 0.25rem;
}

.container2 {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.cart_actions {
  display: flex;
  justify-content: flex-end;
  gap: .75rem;
  margin-top: 1.5rem;
}

.icon {
  padding: 0 3px;
}

.divider {
  position: relative;
  text-align: center;
  margin-block: 3rem;
}

.divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 2px solid var(--border-color-alt);
}

.divider i {
  color: var(--text-color-light);
  background-color: var(--body-color);
  font-size: 1.25rem;
  padding-inline: 1.25rem;
  position: relative;
}
