<div id="page" class="page-home">
    <app-nav-header-new></app-nav-header-new>
    <app-slider ></app-slider>
    <app-sections-cards-guide></app-sections-cards-guide>
    <app-carrosel [produtosList]="data_produto_dto_carousel" ></app-carrosel>
    <app-sections-views-cards-produtos [data_products]="data_produto_dto" (submit_data)="submitFilter($event)" ></app-sections-views-cards-produtos>
    <app-simple-banner></app-simple-banner>
    <app-section-blog></app-section-blog>
    <!-- <app-section-insta-blog></app-section-insta-blog> -->
    <app-footer-home></app-footer-home>
</div>

<!-- <app-sections-views-cards-produtos (submit_data)="submitId($event)" [loading]="loading" [data_products]="data_produto_dto"  ></app-sections-views-cards-produtos> -->

