<div id="page" class="page-home">
    <app-nav-header-new></app-nav-header-new>
    <app-slider ></app-slider>
    <app-sections-cards-guide></app-sections-cards-guide>
    <app-carrosel></app-carrosel>
    <app-sections-views-cards-produtos></app-sections-views-cards-produtos>
    <app-simple-banner></app-simple-banner>
    <app-section-blog></app-section-blog>
</div>
  <!-- <app-home-banner></app-home-banner>

<app-sections-views-cards-produtos (submit_data)="submitId($event)" [loading]="loading" [data_products]="data_produto_dto"  ></app-sections-views-cards-produtos>

<app-footer-home></app-footer-home> -->
