  <div id="page" class="page-category">
    <main>
      <div class="section">
        <div class="container wide">
          <div class="wrap">
            <div class="heading">
              <h1 class="title">Sweater</h1>
            </div>
            <div class="content">
              <div id="sidebar-filter" class="sidebar">
                <div class="wrap">
                  <a  class="close-trigger">
                    <i class="fa-solid fa-xmark"></i>
                  </a>
                  <div class="sidebar-content">
                    <div class="sidebar-title">Filter</div>
                    <div class="widget">
                      <div class="summary">
                        <input type="checkbox" name="cats" id="aaa" checked>
                        <label for="aaa">
                          <span>size</span>
                          <i class="fa-solid fa-chevron-down"></i>
                        </label>
                        <div class="accord product-size">
                          <div class="wrap">
                            <button>S</button>
                            <button>M</button>
                            <button>L</button>
                            <button>XL</button>
                            <button>XXL</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="widget">
                      <div class="summary">
                        <input type="checkbox" name="cats" id="aab" checked>
                        <label for="aab">
                          <span>colors</span>
                          <i class="fa-solid fa-chevron-down"></i>
                        </label>
                        <div class="accord product-color">
                          <div class="wrap">
                            <button class="tosca" ></button>
                            <button class="brown" ></button>
                            <button class="ocena" ></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="widget">
                      <div class="summary">
                        <input type="checkbox" name="cats" id="aac" checked>
                        <label for="aabc">
                          <span>Categories</span>
                          <i class="fa-solid fa-chevron-down"></i>
                        </label>
                        <div class="accord list-block scrollto">
                          <ul class="wrapper initial">
                            <li><a >active wear</a></li>
                            <li><a >active wear</a></li>
                            <li><a >active wear</a></li>
                            <li><a >active wear</a></li>
                            <li><a >active wear</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="widget">
                      <div class="summary">
                        <label><span>price</span></label>
                        <div class="range-track">
                          <input type="range" value="25" min="0" max="500" step="1">
                        </div>
                        <div class="price-range grey-color">
                          <span>$30</span>
                          <span>$500</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="category-content"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
