<div id="page" class="page-home">
  <header>
    <div class="inner-header">
      <div class="container wide">
        <div class="wrap">
          <div class="header-left">
            <div class="menu-bar">
              <a  class="menu-trigger"><i class="fa-solid fa-bars"></i></a>
            </div>
            <div class="list-inline">
              <ul>
                <li><a ><i class="fa-regular fa-user"></i></a></li>
                <li><a><span class="item-floating">7</span>
                  <i class="fa-regular fa-heart"></i>
                </a></li>
              </ul>
            </div>
          </div>
          <div class="header-center">
            <nav class="menu" >
              <div class="list" *ngFor="let item of route; let index" >
                <div class="list-items" *ngFor="let teste of item.rotas">
                  <a style="color: black;" routerLink="{{teste.routerLink}}"><span>{{teste.title}}</span></a>
                </div>
              </div>
            </nav>
            <div class="branding"><a routerLink="/home">By Aurora <img width="25px" src="/assets/borboleta-asa-grande.png" alt=""></a></div>
          </div>
          <div class="header-right">
            <div class="list-inline">
              <ul>
                <li><a ><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a ><span class="item-floating">0</span><i class="fa-solid fa-bag-shopping"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
