.inner-header{
  line-height: 80px;
}

.inner-header :where(.wrap, .menu > .list) ,
.list-inline > ul {
  display: flex;
  align-items: center;
}

.header-left, .header-right {
  flex-grow: 1;
}

.header-center nav {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 180px;
  max-width: 720px;
}

.header-center .branding {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.header-center .branding a {
  font-family: var(--second-font);
  font-size: 30px;
  line-height: inherit;
  pointer-events: auto;
  color: black;
}

.header-center .menu > .list > .list-items {
 font-size: var(--fs14);
 font-weight: var(--fw600);
 text-transform: uppercase;
 padding: 0 15px;
 display: flex;
 gap: 5px;
}

.header-right ul {
  justify-content: flex-end;
}

.list-inline a,
.menu-trigger,
.close-trigger {
  position: relative;
  font-size: 24px;
  padding: 0 10px;
  line-height: 1;
  display: flex;
  transition: var(--transition-color);
}

.list-inline a:hover,
.menu-trigger:hover {
  color: var(--light-color);
}

.branding a:hover {
  color: #daa520;
}

.header-left .list-inline {
  display: none;
}
:where(.header-left , .header-right) ul {
  display: flex;
  align-items: center;
  height: 80px;
}

.item-floating {
  position: absolute;
  font-size: 10px;
  font-weight: var(--fw600);
  top: -8px;
  right: 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


@media (min-width: 992px) {
  .menu-trigger {
    display: none;
  }
  .header-center nav {
    display: grid;
  }
  .header-left .list-inline {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.mobile-menu.active {
  visibility: visible;
  opacity: 1;
}
.mobile-menu .wrap {
  position: relative;
  max-width: calc(100% - 40px);
  width: 360px;
  height: 100%;
  background-color: var(--white-color);
  pointer-events: auto;
  transform: translateX(var(--transX, -100%));
  transition: transform .3s;
}

.mobile-menu.active .wrap {
  transform: translateX(0);
}

.mobile-menu .close-trigger {
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  height: 40px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}


.mobile-menu .main-menu {
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.mobile-menu nav > .list {
  padding: 20px 0;
}

.mobile-menu nav > .list > .list-items > a{
  position: relative;
  padding: 12px 0;
  font-weight: 500;
  transition: var(--transition-color);
}

.mobile-menu nav > .list-items > a:hover {
  color: var(--grey-color);
}

.mobile-menu nav .list-items :where(a) {
  display: block;
}

.button > [class*=-btn] {
  font-size: var(--fs14);
  font-weight: var(--fw600);
  text-transform: uppercase;
  padding: 0 30px;
  display: inline-block;
  line-height: 42px;
  border-width: 2px;
  border-style: solid;
  transition: var(--transition-background),
                  var(--transition-color),
                  var(--transition-border);
}

.primary-btn .secondary-btn {
  border-color: var(--dark-color);
}

.primary-btn:hover, .secondary-btn {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.secondary-btn:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--dark-color);
}

.mobile-menu .button {
  margin-top: auto;
  padding: 20px 0 40px;
}

.scrollto > .wrapper {
  --display: flex;
  padding-bottom: 20px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.scrollto .wrapper::-webkit-scrollbar{
  width: 12px;
  height: 12px;
}

.scrollto .wrapper::-webkit-scrollbar-thumb{
  --border-color: var(var(--white-color));
  background-color: var(--light-color);
  border: 3px solid var(--border-color);
  border-radius: 20px;
}

.scrollto .wrapper:hover::-webkit-scrollbar-thumb{
  background-color: var(--grey-color);
}

.scrollto .wrapper::-webkit-scrollbar-thumb:hover{
  background-color: var(--grey-color);
}



.breadcrumb {
  width: 100%;
  line-height: initial;
  padding: 30px 0 50px ;
}

.breadcrumb ul {
  justify-content: center;
}

.breadcrumb ul li {
  position: relative;
  margin-right: 10px;
}

.breadcrumb ul li:not(:first-child) {
  padding-left: 25px;
}

.breadcrumb ul li:not(:first-child)::before {
  content: '>';
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  // background-image: ; casova usar imagem em vez de string
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb ul :where(li, li a) {
  font-size: var(--fs14);
  padding: 0;
}
.breadcrumb ul li:last-child {
  color: var(--grey-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
