.tab_btns {
  display: flex;
  margin-bottom: 2rem;
  column-gap: 0.75rem;
}

.product_banner,
.product_images {
  position: relative;
}

.product_images{
 display: block;
 overflow: hidden;
 border-radius: 1.25rem;
}

.product_img.hover {
  position: absolute;
  top: 0;
  left: 0;
}


.tab_btn{
  background-color:hsl(0, 0%, 93% ) ;
  color: hsl(0, 0%, 13%);
  padding: 1rem 1.25rem 0.875rem;
  border-radius: .25rem;
  font-family: 'Spartan', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
}

.product_item {
  border: 1px solid hsl(129, 36%, 85%);
  border-radius: 1.5rem;
  transition: all .2s var(--transition);
}

.product_banner {
  padding: 0.625rem 0.75rem 0.75rem;
}

.products_container {
  grid-template-columns: repeat(4,1fr);
}



.tab_btn.active-tab{
  color: hsl(176, 88%, 27%) ;
  background-color: hsl(34,94%,87%);
}


.tab_tems:not(.active-tab){
  display: none;
}


