<!-- <div class="products section container" >

  <div class="tab_btns">
      <span class="tab_btn" [ngClass]="{ 'active-tab': activeTab === 1 }" (click)="submitFilter('featured' ,1)" >
        Featured
    </span>
    <span class="tab_btn" [ngClass]="{ 'active-tab': activeTab === 2 }" (click)="submitFilter('popular',2)" >
      Popular
    </span>
    <span class="tab_btn" [ngClass]="{ 'active-tab': activeTab === 3 }" (click)="submitFilter('new added',3)" >
      New added
    </span>
  </div>



  <div  class="tab_items">
    <div class="tab_item" *ngIf="data_products">
      <app-card-produto  [loading]="loading" [data_products]="data_products" >
      </app-card-produto>
    </div>
  </div>
</div> -->

<div class="bycats">
  <div class="container">
    <div class="wrap">
      <div class="heading sort-list tabs">
        <span class="grey-color">in</span>
        <div class="wrap">
          <h3 class="opt-trigger" (click)="showOptions()">
            <span class="value">{{titleTab}}</span>
            <i class="fa-solid fa-chevron-down"></i>
          </h3>
          <ul [ngClass]="{'show': show}" >
            <li [ngClass]="{'active': activeTab === 1}" (click)="submitFilter('swipe' ,1)"><a  class="tabbed-trigger ">swipe</a></li>
            <li [ngClass]="{'active': activeTab === 2}" (click)="submitFilter('dress' ,2)" ><a  class="tabbed-trigger">Dress</a></li>
            <li [ngClass]="{'active': activeTab === 3}" (click)="submitFilter('shirt' ,3)" ><a  class="tabbed-trigger">shirt</a></li>
          </ul>
        </div>
      </div>
      <div class="tabbed">
        <div id="sweater" class="sort-data active">
          <div class="dotgrid">
            <div class="wrapper">
              <div class="item " *ngFor="let item of data_products" (click)="detailsProduct(item.produto.nome)" >
                <div class="dot-image">
                  <div class="thumbnail">
                    <img src="\assets\produtcs\57968303-800-auto.jpg" alt="">
                  </div>
                  <div class="thumbnail hover">
                    <img src="\assets\produtcs\57968304-800-auto.jpg" alt="">
                  </div>
                  <div class="label"><span>25%</span></div>
                </div>
                <div class="dot-info">
                  <h2 class="dot-title"><a href="">{{item.produto.nome}}</a></h2>
                  <div class="product-price">
                    <span class="before">{{item.produto.preco}}</span>
                    <span class="current">38</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



