<section class="products section container" >

  <div class="tab_btns">
      <span class="tab_btn" [ngClass]="{ 'active-tab': activeTab === 1 }" (click)="submitFilter('featured' ,1)" >
        Featured
    </span>
    <span class="tab_btn" [ngClass]="{ 'active-tab': activeTab === 2 }" (click)="submitFilter('popular',2)" >
      Popular
    </span>
    <span class="tab_btn" [ngClass]="{ 'active-tab': activeTab === 3 }" (click)="submitFilter('new added',3)" >
      New added
    </span>
  </div>



  <div  class="tab_items">
    <div class="tab_item" *ngIf="data_products">
      <app-card-produto  [loading]="loading" [data_products]="data_products" >
      </app-card-produto>
    </div>
  </div>
</section>



