

.total_products{
  padding-bottom: 30px;
}

.total_products span{
  color: var(--first-color);
}

.paginacao {
  display: flex;
  column-gap: .625rem;
  margin-top: 2.75rem;
}
.paginacao_link{
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: .25rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-family: 700;
  transition: all 0.25s var(--transition);
}


.paginacao_link:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}

