<app-nav-header-new></app-nav-header-new>
<app-sections-views-category></app-sections-views-category>

<!-- <section class="products container" >
  <p class="total_products" >We found <span>688</span> items for you!</p>

  <ul class="paginacao">
    <a href="" class="paginacao_link">01</a>
    <a href="" class="paginacao_link">02</a>
    <a href="" class="paginacao_link">03</a>
    <a href="" class="paginacao_link">...</a>
    <a href="" class="paginacao_link">16</a>
  </ul>
</section> -->

<app-footer-home></app-footer-home>
