<app-nav-header></app-nav-header>
<app-breadcrumb></app-breadcrumb>

<section class="products container" >
  <p class="total_products" >We found <span>688</span> items for you!</p>

  <div class="products_container grid">
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>
    <div class="product_item" >
      <div class="product_banner" >
        <a  class="product_images">
          <img src="/assets/produtcs/57968304-800-auto.jpg" class="product_img default" alt="">

          <img src="/assets/produtcs/57968305-800-auto.jpg" class="product_img hover" alt="">
        </a>

       <!-- <div class="produtc_badge light-pink">Hot</div> -->
      </div>

      <div class="product_content">
        <span class="product_category">Teste</span>
        <a href="">
          <h3 class="product_title" >Roupa Branca</h3>
        </a>
        <div class="product_rating">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="product_price flex" >
          <span class="new_price">255.89</span>
          <span class="old_price">$267.85</span>
        </div>

        <!-- <a href="" class="action_btn cart_btn" aria-label="Add To Cart">
          <i class="fa-solid fa-cart-plus"></i>
        </a> -->
      </div>
    </div>

  </div>

  <ul class="paginacao">
    <a href="" class="paginacao_link">01</a>
    <a href="" class="paginacao_link">02</a>
    <a href="" class="paginacao_link">03</a>
    <a href="" class="paginacao_link">...</a>
    <a href="" class="paginacao_link">16</a>
  </ul>
</section>

<app-footer-home></app-footer-home>
