<div class="slider">
  <swiper-container slides-per-view="1"
  mousewheel-force-to-axis="true" autoHeight="true" effect="fade" class="sliderbox"
  navigation="true" pagination="true">
      <swiper-slide class="item ">
        <div class="image">
          <div class="ob-cover">
            <img src="\assets\bg.png" alt="">
          </div>
          <div class="title-info">
            <div class="container wide">
              <div class="wrap">
                <span class="price">$39</span>
                <h3 class="title">feel the tosca color</h3>
                <div class="button"><a href="" class="primary-btn">Shop Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="item ">
        <div class="image">
          <div class="ob-cover">
            <img src="\assets\hero4.png" alt="">
          </div>
          <div class="title-info">
            <div class="container wide">
              <div class="wrap">
                <span class="price">$80</span>
                <h3 class="title">feel the jus color</h3>
                <div class="button"><a href="" class="primary-btn">Shop Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
  </swiper-container>

</div>


