.slider :where(.image, .ob-cover) {
  position: relative;
}

.slider .ob-cover {
  height: 430px;
}

.ob-cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.slider .title-info{
  background-color: var(--white-color);
}


.slider .title-info .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 5vw;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.slider .title-info .price {
  position: relative;
  font-size: 30px;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  background-color: var(--dark-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.title {
  font-size: clamp(30px, -0.875rem + 8.3vw, var(--fs-max, 40px));
}

.slider .title-info :where(span, h3 , .button) {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform .75s , opacity .75s, visibility .75s
}

.slider .swiper-slide-active .title-info :where(span, h3 , .button) {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.slider .swiper-slide-active .title-info h3 {
  transition-delay: .5s;
}

.slider .swiper-slide-active .title-info .button {
  transition-delay: .75s;
}

@media (min-width: 992px) {
  .slider .title-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
  }
  .slider .ob-cover {
    height: calc(100vh - 80px);
  }

  .slider h3 {
    --fs-max: 80px;
    color: var(--white-color);
  }
  .slider .button a {
    border-color: var(--white-color);
    color: var(--white-color);
  }
  .slider .button a:hover {
    border-color: var(--dark-color);
  }
}

.slider .custom-pagination {
  position: absolute;
  right: 30px;
  top: 50%;
  bottom: 50%;
}

